@font-face {
  font-family: "TTSquaresCondensed-Thin";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/39132/TTSquaresCondensed-Thin.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/39132/TTSquaresCondensed-Thin.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/39132/TTSquaresCondensed-Thin.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/39132/TTSquaresCondensed-Thin.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/39132/TTSquaresCondensed-Thin.ttf") format("truetype");
}

html {
  overflow: hidden;
}

body {
  font: 1em "TTSquaresCondensed-Thin";
  background-color: var(--backgroundColor);
  color: #afe3d7;
  overflow: hidden;
  opacity: 0;
}

h1 {
  font: normal 6.875em/1.25 "TTSquaresCondensed-Thin";
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 0;
}

#header {
  padding: 0;
  height: 100vh;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  perspective: 300px;
}

#header .wrap {
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#header h1 {
  font-size: 8vw;
  line-height: 1;
}

#header h1 .word2,
#header h1 em {
  font-style: normal;
  color: #00ffc3;
  text-shadow: 0 0 10px #00ffc3;
}

#header .ui-mini-text {
  grid-row: 3/4;
  grid-column: 3/4;
  justify-self: flex-start;
  align-self: center;
  position: relative;
  left: -10%;
}

#header .ui-tics {
  position: absolute;
}

#header .ui-tics.t {
  bottom: 15vh;
}

#header .ui-tics.b {
  top: 15vh;
  transform: scaleY(-1);
}

#header .ui-inner-border.t {
  top: 7vh;
}

#header .ui-inner-border.b {
  bottom: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header button {
  cursor: pointer;
  margin: auto;
  background: #0f0026;
  border: 1px solid #00ffc3;
  padding: 0;
  width: 48px;
  height: 48px;
  outline: none;
  transition: all 1s ease-in-out;
  transform: scale(1);
  color: #afe3d7;
  border-radius: 100%;
  position: absolute;
  bottom: -24px;
  left: -24px;
  /* Button */
  aspect-ratio: 1;
  background-image: radial-gradient(closest-side, var(--backgroundColor) 44%, var(--rouletteColor) 45% 47%, transparent 48% 61%, var(--rouletteColor) 62% 64%, var(--backgroundColor) 65% 95%, var(--rouletteColor) 96% 97%, var(--backgroundColor) 100%), repeating-conic-gradient(red 0deg 7deg, var(--rouletteColor) 8deg 9deg, black 10deg 17deg, var(--rouletteColor) 18deg 19deg, red 20deg);
  -webkit-animation: roulette 8s infinite linear;
  animation: roulette 8s infinite linear;
}

#header button:hover {
  width: 70px;
  height: 70px;
  bottom: -35px;
  left: -35px;
}

/* 
#header button .border {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #00ffc3;
  box-shadow: 0 0 0px #00ffc3;
  -webkit-animation: 2.3s zoomFade cubic-bezier(0.21, 0.61, 0.35, 1) infinite;
  animation: 2.3s zoomFade cubic-bezier(0.21, 0.61, 0.35, 1) infinite;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* #header button svg {
  display: block;
  width: 16px;
  height: 16px;
  margin: auto;
  -o-object-fit: contain;
  object-fit: contain;
  fill: #f63b4c;
  position: relative;
  left: -1px;
  transition: all 0.3s linear;
} */

/* #header button:hover {
  transform: scale(1.25);
  border-color: #afe3d7;
  transition: all 0.3s ease-out;
}

#header button:hover .border {
  border: 1px solid #00ffc3;
} */

/* @-webkit-keyframes zoomFade {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes zoomFade {
  100% {
    transform: scale(2);
    opacity: 0;
  }
} */

.ui-grid {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  pointer-events: none;
  grid-template-columns: 9% 82% 9%;
  grid-template-rows: 90px 70% 5%;
}

.ui-grid .ui-box {
  grid-row: 2/3;
  grid-column: 2/3;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ui-grid .ui-box #description {
  width: 85%;
  flex: 1;
  overflow-y: auto;
  pointer-events: all;
  margin-bottom: 15px;
}

#description::-webkit-scrollbar {
  display: none;
}

.ui-grid .ui-box #description .text-box {
  /* border: 1px solid rgba(75, 203, 198, 0.2); */
  padding: 5px;
  margin: 0.5rem 0;
  /* opacity: 0; */
  /* visibility: hidden; */
}

.ui-grid .ui-box #description .text-box h2 {
  font-style: normal;
  color: #00ffc3;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.ui-grid .ui-box #description .text-box a {
  color: #00ffc3;
}

.ui-grid .ui-box #description .text-box h3 {
  font-style: normal;
  color: #00ffc3;
  font-size: 26px;
  margin-bottom: 0px;
}

.ui-grid .ui-box #description .text-box p {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.title {
  position: relative;
}

.title .line:first-of-type>.word:first-of-type>.char:first-of-type::before {
  content: "";
  position: absolute;
  top: -1vh;
  left: -1vw;
  width: 0.75vw;
  height: 0.75vw;
  border-left: 2px solid #f63b4c;
  border-top: 2px solid #f63b4c;
  -webkit-animation: 0.1s blink linear infinite 0.2s;
  animation: 0.1s blink linear infinite 0.2s;
}

.title .line:last-of-type>.word:last-of-type>.char:last-of-type::after {
  content: "";
  position: absolute;
  bottom: -1vh;
  right: -2vw;
  width: 1.5vw;
  height: 1.5vw;
  border-top: 2px solid #f63b4c;
  border-radius: 2px 0 0 0;
  -webkit-animation: 0.1s blink linear infinite 0.2s;
  animation: 0.1s blink linear infinite 0.2s;
}

section {
  padding: 10vh 0;
}

section .col-wide {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

section .col-narrow {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.ui-tics {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.ui-tics .tic {
  background: rgba(89, 178, 158, 0.3);
  width: 1px;
  height: 10px;
  position: relative;
  display: inline-block;
  margin: 0 3px;
  white-space: nowrap;
}

.ui-tics .tic:before {
  content: "";
  width: inherit;
  height: 2px;
  left: 0;
  background: #00ffc3;
  position: absolute;
}

.ui-inner-border {
  position: absolute;
  width: 40vw;
  border-right: 3px solid #59b29e;
  border-left: 3px solid #59b29e;
  will-change: transform;
}

.ui-inner-border.t {
  border-top: 3px solid #59b29e;
  height: 9px;
}

.ui-inner-border.b {
  border-bottom: 3px solid #59b29e;
  height: 9px;
}

.ui-box {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.ui-box .ui-fx {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid rgba(89, 178, 158, 0.3);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  display: flex;
  align-items: center;
}

.ui-box .ui-fx .ui-corner {
  width: 1vw;
  height: 1vw;
  position: absolute;
}

.ui-box .ui-fx .ui-corner:nth-of-type(1) {
  top: -4px;
  left: -4px;
  border-left: 1px solid #f63b4c;
  border-top: 1px solid #f63b4c;
}

.ui-box .ui-fx .ui-corner:nth-of-type(2) {
  top: -4px;
  right: -4px;
  border-right: 1px solid #f63b4c;
  border-top: 1px solid #f63b4c;
}

.ui-box .ui-fx .ui-corner:nth-of-type(3) {
  bottom: -4px;
  right: -4px;
  border-bottom: 1px solid #f63b4c;
  border-right: 1px solid #f63b4c;
}

.ui-box .ui-fx .ui-corner:nth-of-type(4) {
  bottom: -4px;
  left: -4px;
  border-bottom: 1px solid #f63b4c;
  border-left: 1px solid #f63b4c;
}

.ui-box .ui-inner-border {
  position: absolute;
  height: 95%;
  width: 9px;
  border-top: 3px solid #59b29e;
  border-bottom: 3px solid #59b29e;
}

.ui-box .ui-inner-border.l {
  left: 3vw;
  border-left: 3px solid #59b29e;
  border-right: none;
}

.ui-box .ui-inner-border.r {
  right: 3vw;
  border-right: 3px solid #59b29e;
  border-left: none;
}

.ui-box .ui-batts {
  position: absolute;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui-box .ui-batts .batt {
  background: #59b29e;
}

.ui-box .ui-batts.l,
.ui-box .ui-batts.r {
  flex-direction: column;
}

.ui-box .ui-batts.l .batt,
.ui-box .ui-batts.r .batt {
  display: block;
  width: 12px;
  height: 3px;
  margin: 70px 0;
}

.ui-box .ui-batts.l {
  left: -6px;
}

.ui-box .ui-batts.r {
  right: -6px;
}

.ui-box .ui-batts.t,
.ui-box .ui-batts.b {
  left: 50%;
  transform: translate(-50%, 0);
}

.ui-box .ui-batts.t .batt,
.ui-box .ui-batts.b .batt {
  width: 3px;
  height: 12px;
  margin: 0 70px;
  display: inline-block;
}

.ui-box .ui-batts.t {
  top: -6px;
}

.ui-box .ui-batts.b {
  bottom: -6px;
}

.gui {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 25% 50% 25%;
  align-items: center;
  justify-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 0;
}

.gui:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(ellipse at center, rgba(89, 178, 158, 0) 1%, rgba(54, 177, 149, 0) 40%, rgba(0, 175, 134, 0.15) 100%);
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: -1;
}

.ui-border-v2.t {
  width: 620px;
  height: 30px;
  top: -5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  fill: #59b29e;
}

.ui-border-v2.t .batt {
  width: 12px;
  height: 4px;
  position: relative;
  margin-top: -7px;
  left: 50%;
  bottom: -1px;
  transform: translate(-50%, 0);
  background: #f63b4c;
  z-index: 1;
}

.ui-c-border {
  position: absolute;
  width: 50vw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  transition: all 0.3s ease-out;
}

.ui-c-border svg {
  fill: #59b29e;
  opacity: 0.3;
  width: 100%;
}

.ui-c-border .batt {
  width: 12px;
  height: 3px;
  background: #f63b4c;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -1px;
}

.ui-c-border.t {
  top: -10px;
  transform: scale(1, 1) translate3d(0, -100%, 0);
}

.ui-c-border.b {
  bottom: -10px;
  transform: scale(-1, -1) translate3d(0, -100%, 0);
}

.ui-circles.l {
  grid-row: 2/3;
  grid-column: 1/2;
}

.ui-circles.r {
  grid-row: 2/3;
  grid-column: 3/4;
}

.ui-border.l {
  left: 3vw;
}

.ui-border.r {
  right: 3vw;
}

.ui-border {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 80vh;
  z-index: 1;
}

.ui-border:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: rgba(89, 178, 158, 0.3);
}

.ui-border .cap {
  width: 4px;
  height: 4px;
  border-width: 4px;
  border-style: solid;
  left: -5px;
  position: absolute;
}

.ui-border .cap.t {
  top: -2vh;
  border-color: #f63b4c transparent transparent transparent;
}

.ui-border .cap.b {
  bottom: -2vh;
  border-color: transparent transparent #f63b4c transparent;
}

.ui-border .batt {
  display: block;
  width: 3px;
  height: 12px;
  background: #f63b4c;
}

.ui-cross {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.6s ease-out;
  opacity: 0.5;
}

.ui-cross .border-x {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 50%;
  width: 1px;
  background: rgba(175, 227, 215, 0.15);
}

.ui-cross .border-x.f {
  transform: rotate(110deg);
}

.ui-cross .border-x.l {
  transform: rotate(-110deg);
}

.ui-cross .border-horz {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(175, 227, 215, 0.15);
}

.ui-cross .border-vert {
  position: absolute;
  top: 10vh;
  bottom: 10vh;
  left: 50%;
  width: 1px;
  background: rgba(175, 227, 215, 0.15);
}

.intro-anim-complete .ui-cross {
  transition: opacity 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) 3s;
}

.intro-anim-complete .ui-cross .border-x.f,
.intro-anim-complete .ui-cross .border-x.l {
  transition: all 3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.intro-anim-complete .ui-cross .border-vert,
.intro-anim-complete .ui-cross .border-horz {
  transition: top 3s cubic-bezier(0.445, 0.05, 0.55, 0.95), right 3s cubic-bezier(0.445, 0.05, 0.55, 0.95), bottom 3s cubic-bezier(0.445, 0.05, 0.55, 0.95), left 3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.carousel-active .ui-cross {
  opacity: 0;
}

.carousel-active .ui-cross .border-horz {
  left: 49.55vw;
  right: 49.55vw;
}

.carousel-active .ui-cross .border-vert {
  top: 49.55vh;
  bottom: 49.55vh;
}

.carousel-active .ui-cross .border-x.f {
  transform: rotate(90deg) scaleY(0);
}

.carousel-active .ui-cross .border-x.l {
  transform: rotate(-90deg) scaleY(0);
}

.ui-cross .dot {
  border-radius: 100%;
  width: 6px;
  height: 6px;
  background: rgba(175, 227, 215, 0.5);
  position: absolute;
  left: -2px;
}

.ui-cross .dot.t {
  top: 0;
}

.ui-cross .dot.b {
  bottom: 0;
}

.ui-cross .x-hair {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ui-cross .line {
  width: 1px;
  height: 40%;
  background: rgba(175, 227, 215, 0.15);
  position: absolute;
}

.ui-cross .line:nth-of-type(1) {
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transform: rotate(-45deg);
}

.ui-cross .line:nth-of-type(2) {
  top: 0;
  right: 0;
  transform-origin: 100% 0;
  transform: rotate(45deg);
}

.ui-cross .line:nth-of-type(3) {
  bottom: 0;
  left: 0;
  transform-origin: 0% 100%;
  transform: rotate(45deg);
}

.ui-cross .line:nth-of-type(4) {
  bottom: 0;
  right: 0;
  transform-origin: 100% 100%;
  transform: rotate(-45deg);
}

.ui-circles {
  justify-self: center;
  align-self: center;
}

.circle {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  border: 1px solid #59b29e;
  display: block;
  margin: 20px 0;
}

.ui-text {
  width: 100px;
  position: absolute;
}

.ui-text.r {
  bottom: 60px;
  right: 15%;
}

.ui-text.l {
  bottom: 60px;
  left: 15%;
}

.ui-text .t-o {
  overflow: hidden;
  height: 0;
}

.ui-text h5 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 8px;
  margin-bottom: 5px;
  visibility: hidden;
  white-space: nowrap;
}

.ui-text svg {
  width: 100%;
  fill: #59b29e;
}

#starfield {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  /* pointer-events: none; */
  transition: opacity 0.6s ease-in-out;
}

#starfield canvas {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/* Button style */

:root {
  --backgroundColor: #0f0026;
  --rouletteColor: white;
}

@-webkit-keyframes roulette {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes roulette {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#header button::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30%;
  aspect-ratio: 1;
  background-image: radial-gradient(var(--rouletteColor) 20%, transparent 21%), linear-gradient(transparent 45%, var(--rouletteColor) 46% 54%, transparent 55%), linear-gradient(90deg, transparent 45%, var(--rouletteColor) 46% 54%, transparent 55%);
  -webkit-animation: rouletteCenter 1s infinite linear;
  animation: rouletteCenter 1s infinite linear;
}

#header button:hover::before {}


@-webkit-keyframes rouletteCenter {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes rouletteCenter {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

#header button::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 10%;
  width: 10%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--rouletteColor);
  transform-origin: 50% 450%;
  -webkit-animation: rouletteBall 2s infinite linear;
  animation: rouletteBall 2s infinite linear;
}

#header button:hover::after {
  display: none;
}

@-webkit-keyframes rouletteBall {
  from {
    transform: translate(-50%, -50%) rotate(0deg) translateY(0%);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg) translateY(0%);
  }
}

@keyframes rouletteBall {
  from {
    transform: translate(-50%, -50%) rotate(0deg) translateY(0%);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg) translateY(0%);
  }
}

/* Header */
.text-container {
  display: flex;
  /*   border:1px solid red; */
  width: 100%;
  /* height: 100%; */
  align-items: center;
}

.text-container svg {
  display: block;
  font: normal 4em 'TTSquaresCondensed-Thin';
  /* font: normal 10.5em 'TTSquaresCondensed-Thin'; */
  width: 100%;
  height: 100px;
  margin: 0 auto;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 15%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 10s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #2de0b6;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: #36bf9f;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #00ffc3;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #00000000;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #00ffc3;
  animation-delay: -5s;
}


@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}


@media only screen and (max-width: 850px) {
  .text-container svg {
    font: normal 4em/1.25 'TTSquaresCondensed-Thin';
    height: 80px;
  }
}

@media only screen and (max-width: 600px) {
  .text-container svg {
    font: normal 2.7em/1.25 'TTSquaresCondensed-Thin';
    height: 80px;
  }

  #header .ui-inner-border.t {
    top: 4vh;
  }

  .text-copy {
    stroke-dasharray: 6% 10%;
    stroke-width: 1px;
  }

  .ui-grid .ui-box #description .text-box h2 {
    font-size: 18px;
  }

  .ui-grid .ui-box #description .text-box h3 {
    font-size: 16px;
  }

  .ui-grid .ui-box #description .text-box p {
    font-size: 14px;
    margin-top: 10px;
    word-wrap: break-word;
    margin-bottom: 10px;
  }

  .ui-grid {
    grid-template-columns: 1% 98% 1%;
    grid-template-rows: 10% 80% 10%;
  }

  .ui-c-border {
    display: none;
  }

  .ui-border {
    display: none;
  }

  /* .ui-circles {
    display: none;
  } */

  .ui-grid .ui-inner-border {
    display: none;
  }

  .ui-border-v2.t {
    width: 100%;
    height: 30px;
  }

  .text-box svg text {
    font-size: 80px !important;
  }
}


/*  */
#menu {
  /* position: relative;
		float: left;
		width: 100%;
		padding: 0 20px;
		border-radius: 3px;
		box-shadow: inset 0 1px 1px rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.15);
		background: #ccc;  */
  padding: 0px;
  margin: 0px;
}

#menu,
#menu ul {
  list-style: none;
}

#menu>li {
  float: left;
  position: relative;
  /* border-right: 1px solid rgba(0,0,0,.1); */
  /* box-shadow: 1px 0 0 rgba(255,255,255,.25); */
  perspective: 1000px;
}

#menu a {
  display: block;
  position: relative;
  z-index: 10;
  padding: 13px 20px 13px 20px;
  text-decoration: none;
  color: white;
  line-height: 1;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: -.05em;
  background: transparent;
  transition: all .25s ease-in-out;
}

#menu>li:hover>a {
  background: #333;
  color: #00ffc3;
  text-shadow: none;
}

#menu li ul {

  position: absolute;
  top: -350px;
  left: -100px;
  z-index: 999;
  width: 200px;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: transparent;
  overflow: hidden;
  transform-origin: 50% 0%;
}

#menu.show li ul {
  border-radius: 3px;
  padding: 15px 0;
  background: #0f0026;
  opacity: 1;
  visibility: visible;
  box-shadow: 1px 1px 7px #00ffc3;
  animation-name: swingdown;
  animation-duration: 1s;
  animation-timing-function: ease;
}

@keyframes swingdown {
  0% {
    opacity: .99999;
    transform: rotateX(90deg);
  }

  30% {
    transform: rotateX(-20deg) rotateY(5deg);
    animation-timing-function: ease-in-out;
  }

  65% {
    transform: rotateX(20deg) rotateY(-3deg);
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: rotateX(0);
    animation-timing-function: ease-in-out;
  }
}

@keyframes swingup {
  0% {
    opacity: .99999;
    transform: rotateX(-90deg);
  }

  30% {
    transform: rotateX(20deg) rotateY(5deg);
    animation-timing-function: ease-in-out;
  }

  65% {
    transform: rotateX(-20deg) rotateY(-3deg);
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: rotateX(0);
    animation-timing-function: ease-in-out;
  }
}

#menu li li a {
  padding-left: 15px;
  font-weight: 400;
  color: #ddd;
  text-shadow: none;
  border-top: dotted 1px transparent;
  border-bottom: dotted 1px transparent;
  transition: all .15s linear;
  text-align: center;
}

#menu li li a:hover {
  color: #00ffc3;
  border-top: dotted 1px rgba(255, 255, 255, .15);
  border-bottom: dotted 1px rgba(255, 255, 255, .15);
  background: rgba(0, 223, 252, .02);
}



/*  */

.text-box svg {
  width: 100%;
  height: 100%;
}

.text-box svg text {
  text-transform: uppercase;
  animation: stroke 1s alternate;
  /* animation: stroke 5s infinite alternate; */
  stroke-width: 2;
  stroke: #00ffc3;
  font-size: 50px;
}

@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: #00ffc3;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }

  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: #00ffc3;

  }

  80% {
    fill: rgba(72, 138, 20, 0);
    stroke: #00ffc3;
    stroke-width: 3;
  }

  100% {
    fill: #00ffc3;
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}





/* custom css */

.ui-grid .ui-box #description {
  // padding-top: 80px;
}

.text-container {
  // position: absolute;
  top: 0;
}

.pointer {
  cursor: pointer;
}

input {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #00ffc3;
  outline: none;
  background: transparent;
  color: white;
  font-weight: 600;
  padding: 10px;
  width: 80%;
}


.wallet-icon {
  img {
    width: 80px;
    height: 80px;
  }
}

@media (max-width:540px) {

  .ui-circles.l,
  .ui-circles.r {
    display: none;
  }

  #header .ui-inner-border.b,
  #header .ui-inner-border.t {
    width: 98vw !important;

  }

  #header .ui-inner-border.b {
    bottom: 12vh;
  }

  .ui-grid .ui-box #description {
    margin-bottom: 50px;
  }
}

.tab-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  .scroll-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}