#description {
    .text-box-absolute {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
}

.img-fluid {
    width: 50%;
    height: auto;
}

.border-bottom-neon {
    border-bottom: 1px solid rgba(0, 255, 195, 0.6);
}


.ui-grid .ui-box #description .text-box h5 {
    font-style: normal;
    color: #00ffc3;
    font-size: 32px;
    margin-bottom: 0px;
}

.floating-image {
    animation: floating 3s ease-in-out infinite;
    transform-origin: center;
}

.button-submit {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00ffc3;
    color: black;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
    font-size: 16px;
}

.button-submit:hover {
    background-color: #00e6ad;
}

@keyframes floating {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(0, -20px, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

.open-ww {
    position: absolute;
    top: 0;
    right: 0;
}

.text-area-contact-us {
    height: 125px;
    background: transparent;
    border: 1px solid #00ffc3 !important;
    color: white;
}


//icon social

.circle-socials {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 7px;
    background-color: rgba(255, 255, 255, 0.1);
}

.circle-socials:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}

.ddbc-mint {
    border-radius: 5px;
    max-width: 350px;
}

.place-holder-image-mint {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #00ffc3;
}


@media (max-width: 500px) {
    #description {
        .text-box-absolute {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0, 0);
            width: 100%;


            &.stay {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 90%;
            }
        }
    }

    .ddbc-mint {
        max-width: 300px;
    }

    .open-ww {
        img {
            width: 40px;
        }
    }
}