#description {
    .text-box-absolute {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
}

.border-neon {
    border: 2px solid #fff;
    box-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #0ff,
        0 0 80px #0ff,
        0 0 90px #0ff,
        0 0 100px #0ff,
        0 0 150px #0ff;
}


@media (max-width: 500px) {
    #description {
        .text-box-absolute {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0, 0);
            width: 100%;
        }
    }
}