#description {
    .text-box-absolute {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
}

.img-fluid {
    width: 50%;
    height: auto;
}

.border-bottom-neon {
    border-bottom: 1px solid rgba(0, 255, 195, 0.6);
}


.ui-grid .ui-box #description .text-box h5 {
    font-style: normal;
    color: #00ffc3;
    font-size: 32px;
    margin-bottom: 0px;
}


@media (max-width: 500px) {
    #description {
        .text-box-absolute {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0, 0);
            width: 100%;


            &.stay {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 90%;
            }
        }
    }
}