.header-tabs-top {
    position: absolute;
    top: 8vh;
    width: 39vw;
}

.header-tabs-bottom {
    position: absolute;
    bottom: 8vh;
    width: 39vw;
}

.tab-btn {
    transition: 0.15s;

    &.active,
    &:hover {
        display: inline-block;
        font-size: 1.2rem;
        color: #00ffc3;
        text-shadow: 0 0 10px #00ffc3, 0 0 20px #00ffc3, 0 0 30px #00ffc3, 0 0 40px #00ffc3, 0 0 70px #00ffc3, 0 0 80px #00ffc3, 0 0 100px #00ffc3, 0 0 150px #00ffc3;
        // animation: neon-glow 1.5s ease-in-out infinite alternate;
    }
}

.neon-effect {
    display: inline-block;
    position: relative;
    background-color: transparent;
    /* or any desired background color */
}

.neon-effect img {
    transition: filter 0.5s ease;
}

.neon-effect img:hover {
    filter: drop-shadow(0 0 10px #00ffc3) brightness(200%);
    animation: neon-glow 1.5s ease-in-out infinite alternate;
}

@keyframes neon-glow {
    0% {
        filter: drop-shadow(0 0 10px #00ffc3) brightness(200%);
    }

    100% {
        filter: drop-shadow(0 0 20px #00ffc3) brightness(300%);
    }
}



@keyframes neon-glow {
    0% {
        text-shadow: 0 0 10px #00ffc3, 0 0 20px #00ffc3, 0 0 30px #00ffc3, 0 0 40px #00ffc3, 0 0 70px #00ffc3, 0 0 80px #00ffc3, 0 0 100px #00ffc3, 0 0 150px #00ffc3;
    }

    100% {
        text-shadow: 0 0 20px #00ffc3, 0 0 30px #00ffc3, 0 0 40px #00ffc3, 0 0 50px #00ffc3, 0 0 80px #00ffc3, 0 0 90px #00ffc3, 0 0 110px #00ffc3, 0 0 160px #00ffc3;
    }
}

@media (max-width:540px) {

    .header-tabs-top {
        top: 6vh;
        width: 97vw;
    }

    .header-tabs-bottom {
        bottom: 13vh;
        width: 97vw;
    }

}