.header-tabs-top {
    position: absolute;
    top: 8vh;
    width: 39vw;
}

.header-tabs-bottom {
    position: absolute;
    bottom: 8vh;
    width: 39vw;
}

.tab-btn {
    transition: 0.15s;

    &.active,
    &:hover {
        background-color: #fff;
        color: #000;
    }
}